<div class="card-search">
    <div class="card-search-top">
        <div class="label">
            {{label}}
        </div>
        <div class="button">
            <img src="assets/icon/ion-search.svg" alt="">
        </div>
    </div>

    <div class="card-search-filter">
        <div class="label">
            Bộ lọc
        </div>

        <div class="filter" mode="ios">
            <ion-select value="1" okText="Ok" cancelText="Cancel">
                <ion-select-option value="1">Mới</ion-select-option>
                <ion-select-option value="2">Đang bảo dưỡng</ion-select-option>
                <ion-select-option value="3">Đang chờ linh kiện</ion-select-option>
                <ion-select-option value="4">Bảo dưỡng xong</ion-select-option>
                <ion-select-option value="5">Bảo dưỡng thất bại</ion-select-option>
            </ion-select>
        </div>
    </div>
</div>