.btn-sc {
    color: #00A050;
    font-size: 14px;
    font-family: "Nuni-Regular";
    text-align: center;
    background-color: #D4EFE1;
    border: 0.5px solid #B1D6C3;
    height: 40px;
    text-align: center;
    border-radius: 10px;
    min-width: 100px;
}

.btn-sc:active {
    background-color: #ffffff;
}