<ion-grid>
    <ion-row>
        <ion-col size="12" class="list-button">
            <!--  -->
            <button class="btn-sc" routerLink="/list" routerLinkActive="active">
            Bảo dưỡng
        </button>

            <button class="btn-sc" routerLink="/list-export" routerLinkActive="active">
            Xuất kho
        </button>

            <button class="btn-sc" routerLink="/list-import" routerLinkActive="active">
            Nhập kho
        </button>
        </ion-col>
    </ion-row>
</ion-grid>