.home-page {
    background-color: #00a050;
    height: 100%;
    .logo {
        text-align: center;
        padding: 60px 20px;
    }
    .content {
        padding: 30px;
        .button-home {
            width: 100%;
            border-radius: 30px;
            color: #00a050;
            background: white;
            margin-bottom: 20px;
            min-height: 50px;
            .icon {
                text-align: center;
                align-self: center;
            }
            .text {
                align-self: center;
            }
        }
    }
}