<!-- <div class="home-page"> -->
<ion-header class="logo">
    <img src="assets/icon/home/ion-logo.svg">
</ion-header>
<ion-content>
    <ion-grid>
        <ion-row>
            <ion-col size="6" *ngFor="let i of listBtn">
                <div class="home-item" [routerLink]="i.route">
                    <img [src]="i.icon">
                    <div>{{i?.text}}
                    </div>
                </div>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>
<!-- </div> -->