.app {
    background-color: #848484;
    width: 100%;
    height: 100vh;
    .qr-header {
        height: 100px;
        padding-top: 60px;
        color: var(--ion-color-primary-contrast);
        font-size: 20px;
        font-weight: bold;
        ion-back-button {
            --color: var(--ion-color-primary-contrast);
        }
        .qr-header-btn {
            display: flex;
            justify-content: center;
            align-items: flex-start;
        }
    }
    ion-content {
        --background: none;
    }
    .qr-code {
        // position: relative;
        background: none;
        border: none;
        margin: 100px 0px 20px 0px;
        // border: 4px solid #00A050;
        padding: 0px;
        display: flex;
        justify-content: center;
        width: 100%;
        // .qr-code-center {
        //     position: absolute;
        //     left: 50%;
        //     top: 50%;
        //     transform: translate(-50%, -50%);
        // }
        zxing-scanner {
            width: 300px;
            height: 300px;
        }
    }
    .qr-toast {
        font-size: 20px;
        color: var(--ion-color-primary-contrast);
        text-align: center;
    }
    .qr-data {
        font-size: 20px;
        color: var(--ion-color-primary-contrast);
        text-align: center;
    }
    .button_bottom {
        background-color: #fff;
        position: absolute;
        bottom: 20px;
        left: 50%;
        transform: translateX(-50%);
        width: 236px;
        height: 41px;
        border-radius: 16px;
        display: flex;
        align-items: center;
        justify-content: center;
        p {
            margin: 0;
            margin-right: 10px;
        }
    }
}